@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  height: 100%;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #414345;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F2F6F8;

}

#header {
  background: rgb(56,134,239);
  background: linear-gradient(83deg, rgba(56,134,239,1) 0%, rgba(89,174,239,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.material-ui-textfield {
  //background-color: red;
  //padding: 10rem;
  //margin: 10rem;
  //width: 100%;
}
